<div class="bd-example">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Vrsta</th>
        <th scope="col">Valuta</th>
        <th scope="col">Uputstvo</th>
        <th scope="col">Dobijeni iznos</th>
        <th scope="col">Kriptoadresa</th>
        <th scope="col">Status</th>
        <th scope="col">Updated</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of actionlog">
        <td>{{a.id}}</td>
        <td>{{a.vrsta}}</td>
        <td>{{a.valuta}}</td>
        <td>{{a.uputstvo}}</td>
        <td>{{a.dobijeni_iznos}}</td>
        <td>{{a.status_transakcije}}</td>
        <td>{{a.updated}}</td>
        <td>{{a.created}}</td>
    </tbody>

  </table>
</div>