 <form>
  <div class="row" style="margin-top: 150px;">
    <div class="col">
      <label for="numberInput">Bitcoin</label>
      <input [(ngModel)]="numberToMultiply" (ngModelChange)="calculateResult()" type="number" name="numberInput" class="form-control"><!-- ngModelChange mijenja rezultat 'uzivo'-->
    </div>
    <div class="col">
      <label  for="result">EUR</label>
      <!-- <input type="number" class="form-control"  [value]="result" id="result" [(ngModel)]="result" name="result" readonly > -->
      <div class="form-control">{{result | number:'1.0-0'}}</div>
    </div>
  </div>
</form>

<form>
  <div class="row">
    <div class="col">
      <label for="email">Email</label>
      <input [(ngModel)]="user_mail" [ngModelOptions]="{standalone:true}" type="email" name="email" class="form-control"><!-- ngModelChange mijenja rezultat 'uzivo'-->
    </div>
    <div class="col">
      <label for="cryptoa">Cryptoadress</label>
      <input type="text" class="form-control" name="cryptoa" [(ngModel)]="cryptoa">
    </div>
  </div>
  <div class="col">
    <label for="holder">Card Holder</label>
    <input [(ngModel)]="cardHolder" type="text" class="form-control" name="holder" >
  </div>
  <div class="col">
    <label for="cn">Card Number</label>
    <input [(ngModel)]="cardNumber" type="tel" id="cn" maxle class="form-control" name="cn" maxlength="16" pattern="[0-9\s]{14,16}" autocomplete="cc-number" placeholder="xxxx xxxx xxxx xxxx" required>
  </div>
  <div class="col">
    <label for="valid">Valid Thru</label>
    <input [(ngModel)]="valid" type="month" class="form-control" name="valid" placeholder="00/00" required>
  </div>
  <div class="col">
    <label for="cvv">CCV</label>
    <input [(ngModel)]="cvv" type="tel" class="form-control" name="ccv" maxlength="3">
  </div>
</form>




<div class="container" style="text-align: center;"><button class="btn btn-warning" style="margin-top: 20px;" (click)="saveButton()">Save</button></div>