 <form>
  <div class="row" style="margin-top: 150px;">
    <div class="col">
      <label for="numberInput">Bitcoin</label>
      <input [(ngModel)]="numberToMultiply" (ngModelChange)="calculateResult()" type="number" name="numberInput" class="form-control" placeholder="First name" ><!-- ngModelChange mijenja rezultat 'uzivo'-->
    </div>
    <div class="col">
      <label  for="result">EUR</label>
      <input type="number" class="form-control" placeholder="Last name" [value]="result" id="result" name="result" readonly>
    </div>
  </div>
</form>

<form>
  <div class="row">
    <div class="col">
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" type="email" name="email" class="form-control"><!-- ngModelChange mijenja rezultat 'uzivo'-->
    </div>
    <div class="col">
      <label for="cryptoa">Cryptoadress</label>
      <input type="text" class="form-control" name="cryptoa">
    </div>
  </div>
</form>

<div class="container" style="text-align: center;"><button class="btn btn-warning" style="margin-top: 20px;" (click)="saveButton()">Save</button></div>
